{extends "../@layout.latte"}
{block submenu}
<a class="ajax {ifCurrent :default}active{/ifCurrent}" n:href="Admin:default">Přehled sestav</a>
<a class="ajax {ifCurrent :specAssign}active{/ifCurrent}" n:href="Admin:specAssign">Přiřazení sestav</a>
<a class="ajax {ifCurrent :api}active{/ifCurrent}" n:href="Admin:api">Public API</a>
{/block}