{block content}
<h2>
    Public API
    <span class="header-search">
        <a n:href="Admin:addApi" class="btn btn-visual ajax">
            <i class="icon-plus"></i>
            Přidat aplikaci
        </a>
    </span>
</h2>


{if count($apiList)}
    <table class="table table-striped">
        <tr>
            <th>Název aplikace</th>
            <th>Aktivní</th>
            <th></th>
        </tr>
        {foreach $apiList as $a}
            <tr>
                <td>{$a->app_name}</td>
                <td>
                    {if $a->active}
                        <i class="icon-checkmark"></i>
                    {else}
                        <i class="icon-cross"></i>
                    {/if}
                </td>
                <td class="text-center">
                    <a n:href="Admin:apiDetail, $a->id" class="btn btn-visual ajax">Detail</a>
                </td>
            </tr>
        {/foreach}
    </table>
{else}
    <div class="info-box">
        Nejsou dostupné žádné API klíče.
    </div>
{/if}