{block content}
    <h2>
        Detail API - {$api->app_name}
    </h2>

    <div class="info-box">
        <p>
            Vygenerovaný klíč:
        </p>
        <p>
           <b>{$api->secret}</b>
        </p>
    </div>
    <div class="spacer"></div>

    {control editApiForm}