{block content}
<h2>
    Přehled sestav
    <span class="header-search">
        <a n:href="specAdd" class="btn btn-visual ajax">
            <i class="icon-plus"></i>
            Nová sestava
        </a>
    </span>
</h2>

{if count($reports)}
    <table class="table table-striped">
        <tr>
            <th>Školní rok (název)</th>
            <th>Přiřazeno studentů</th>
            <th></th>
        </tr>
        {foreach $reports as $r}
            <tr>
                <td>{$r}</td>
                <td>{$counts[$r]}</td>
                <td class="text-center">
                    <a n:href="Admin:specDetail, $r" class="btn ajax btn-sm btn-visual">Detail</a>
                    <a n:href="Admin:yearClone, $r" class="btn-sm ajax">Klonovat</a>
                </td>
            </tr>
        {/foreach}
    </table>
{else}
    <div class="info-box">
        Nejsou dostupné žádné sestavy.
    </div>
{/if}