{block content}
    <div class="content">
        <div class="{if $withEditor}withEditor{/if}" style="width: 95%; margin: 0 auto">
            {form editContent}
                {input text}
                <br>
                <span style="float: right">
                {input save}
                    <a n:href="Admin:default" class="ajax btn btn-danger">Zrušit</a>
            </span>
            {/form}
        </div>
    </div>
{/block}