{block content}
{if $canEdit}
    <h2>
        Dovednost
        <span class="header-search">
            <a n:href=":specDetail $year" class="btn btn-visual">
                <i class="icon-exit"></i>
                Zpět na sestavu
            </a>
        </span>
    </h2>
    <div class="spec-wrap">
        <div n:if="$canEdit" class="add-detail">
            <div class="row">
                {form addSpecificationForm}
                    <div class="col-md-3">
                        {label skill /}
                        {input skill}
                    </div>
                    <div class="col-md-3">
                        {label skill_en /}
                        {input skill_en}
                    </div>
                    <div class="col-md-2">
                        {label subject_stag /}
                        {input subject_stag}
                    </div>
                    <div class="col-md-2">
                        {input form}
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-visual" n:name="submit">Upravit dovednost</button>
                    </div>
                {/form}
            </div>
        </div>
    </div>
{/if}