{block content}
<h2>
    Detail sestavy - {$year}
</h2>
<div class="spec-wrap" data-year="{$year}"
     data-spec-sort-url="{link :specificationOrder $year}"
     data-category-sort-url="{link :categoryOrder $year}">
    {foreach $categories as $c}
        <div class="category" data-id={$c->id}>
            <div class="name">
                <div class="row">
                    <div class="col-md-1 numbering">
                        {$c->position}
                    </div>
                    <div class="col-md-9">
                        {$c->name}<br>
                        {$c->name_en}
                    </div>
                    <div class="col-md-2 edit-buttons">
                        <a n:if="$canEdit" class="btn btn-primary"
                                n:href=":specCategory $c->id, $year">
                            <i class="icon-pencil"></i>
                        </a>
                        <a n:if="$canEdit" class="dialog btn btn-danger"
                                           data-dialog-q="Opravdu odstranit kategorii? Tuto akci nelze vrátit."
                                n:href="categoryRemove, $c->id, $year, count($categories)<2">
                            <i class="icon-bin"></i>
                        </a>
                        <span n:if="$canEdit" class="btn btn-default category-handler">
                            <i class="icon-move"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div n:foreach="$specs[$c->id] as $s" class="detail" data-id={$s->id}>
                <div class="row">
                    <div class="col-md-1 numbering">
                        {$c->position}
                        .
                        {$s->position}
                    </div>
                    <div class="col-md-3">
                        {$s->skill}<br>
                        {$s->skill_en}
                    </div>
                    <div class="col-md-3" title="{$s->subject_stag}">
                        {$s->subject}<br>
                        {$s->subject_en}
                    </div>
                    <div class="col-md-3">
                        {$s->form}
                    </div>
                    <div class="col-md-2 edit-buttons">
                        <a n:if="$canEdit" class="btn-sm btn-primary"
                                n:href=":skillEdit $s->id, $year">
                            <i class="icon-pencil"></i>
                        </a>
                        <a n:if="$canEdit" class="dialog btn-sm btn-danger"
                                           data-dialog-q="Opravdu odstranit úkon? Tuto akci nelze vrátit."
                                n:href="specificationRemove, $s->id, $c->year">
                            <i class="icon-bin"></i>
                        </a>
                        <span n:if="$canEdit" class="btn-sm btn-default spec-handler">
                            <i class="icon-move"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div n:if="$canEdit" class="add-detail">
                <div class="row">
                    {form addSpecificationForm}
                        <div class="col-md-3">
                            <input type="hidden" n:name="category_id" value="{$c->id}">
                            {label skill /}
                            {input skill}
                        </div>
                        <div class="col-md-3">
                            {label skill_en /}
                            {input skill_en}
                        </div>
                        <div class="col-md-2">
                            {label subject_stag /}
                            {input subject_stag}
                        </div>
                        <div class="col-md-2">
                            {input form}
                        </div>
                        <div class="col-md-2 edit-buttons">
                            <button type="submit" class="btn btn-visual" n:name="submit">Přidat dovednost</button>
                        </div>
                    {/form}
                </div>
            </div>
        </div>
    {/foreach}
    {if $canEdit}
        <div class="category new-category">
            <div class="name text-center">
                <a n:href=":specCategory null, $year" class="btn btn-visual">
                    <i class="icon-plus"></i>
                    Přidat kategorii
                </a>
            </div>
        </div>
    {/if}
</div>