{block content}
    <h2>
        Přiřazení sestav
    </h2>

{control searchStudentForm}

{if $students}
    <table class="table table-striped">
        <tr>
            <th>Jméno a PŘÍJMENÍ</th>
            <th>osCislo</th>
            <th>stagName</th>
            <th>Fakulta / Obor</th>
            <th>Ročník</th>
            <th>Sestava</th>
        </tr>
    {foreach $students["student"] as $s}
        <tr>
            <td>
                {$s["jmeno"]} {$s["prijmeni"]}
            </td>
            <td>
                {$s["osCislo"]}
            </td>
            <td>
                {$s["userName"]}
            </td>
            <td>
                {$s["fakultaSp"]} / {$s["oborKomb"]}
            </td>
            <td>
                {$s["rocnik"]}
            </td>
            <td>
                {if isset($years[$s["osCislo"]])}
                    {$years[$s["osCislo"]]}
                    <a n:href="studentYearRemove, $s['osCislo']" class="btn-xs btn-danger">
                        <i class="icon-bin"></i>
                    </a>
                {else}
                    {form assignSpecForm}
                        {input specYear}
                        <input type="hidden" n:name="osCislo" value="{$s['osCislo']}">
                        <input type="hidden" n:name="fullname" value="{$s|fullname}">
                        <button class="btn-xs btn-visual" type="submit" n:name="submit">
                            <i class="icon-checkmark"></i>
                        </button>
                    {/form}
                {/if}
            </td>
        </tr>
    {/foreach}
    </table>
{else}
    <div class="info-box">
        <p>
            Nenalezen žádný student.
        </p>
    </div>
{/if}