{block content}
{if $canEdit}
    <h2>
        Kategorie
        <span class="header-search">
            <a n:href=":specDetail $year" class="btn btn-visual">
                <i class="icon-exit"></i>
                Zpět na sestavu
            </a>
        </span>
    </h2>
{control addCategoriesForm}
{/if}