<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<link rel="icon" type="image/png" href="{$basePath}/favicon.png">

	<title>{ifset title}{include title|stripHtml} | {/ifset}LogBook</title>

	<link rel="stylesheet" href="{$basePath}/assets/fonts/style.css" type="text/css">
	<link rel="stylesheet" href="{$basePath}/assets/styles/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="{$basePath}/assets/styles/bootstrap-theme.min.css" type="text/css">
	<link rel="stylesheet" href="{$basePath}/assets/styles/main.css" type="text/css">
</head>

<body>
	<header>
		<div class="topLine">
			<div class="content-wrap">
				<a href="https://www.upol.cz/">Univerzita Palackého v Olomouci</a>
				<span class="right-content">
					<a href="https://www.upol.cz/studenti/">Studenti</a>
					<a href="https://www.upol.cz/zamestnanci/">Zaměstnanci</a>
					<a href="http://absolventi.upol.cz/">Absolventi</a>
					<span class="divider"></span>
					<a href="https://www.upol.cz/kontakty/">Kontakty</a>
					<a n:if="$user->isLoggedIn()" n:href="Home:logout" class="logout"><i class="icon-switch"></i> Logout</a>
				</span>
			</div>
		</div>
		<div class="content-wrap">
			<a class="logo" n:href="Home:default">
				<span class="name">LogBook</span>
			</a>

			<div n:if="$user->loggedIn" class="user-name">
                Přihlášen jako <b>
                    {$user->getIdentity()->data["fullName"] ? $user->getIdentity()->data["fullName"] : $user->getIdentity()->data["userName"]}
                </b>
				<div class="role">
					(role {$user->getRoles()[0]})
				</div>
			</div>
			<div class="menu" n:snippet="menu">

				<a class="item ajax {ifCurrent Home:default}active{/ifCurrent}" n:href="Home:default">Úvodní stránka</a>
				<a class="item ajax {ifCurrent :about}active{/ifCurrent}" n:href="Home:about">O projektu</a>
				<a class="item ajax {ifCurrent Student:*}active{/ifCurrent}" n:if="$user->isInRole($roles[0])" n:href="Student:default">
					<i class="icon-book"></i> Logbook
				</a>
				<a class="item ajax {ifCurrent Teacher:*}active{/ifCurrent}" n:if="$user->isInRole($roles[1])" n:href="Teacher:default">
                    <i class="icon-book"></i> Logbook
				</a>
				<a class="item ajax {ifCurrent Admin:*}active{/ifCurrent}" n:href="Admin:default" n:if="$user->isInRole($roles[2])">
					<i class="icon-user-tie"></i> Admin
				</a>

				<a n:if="!$user->loggedIn"
						href="https://stag-demo.zcu.cz/ws/login?originalURL={$host}{link Home:login}"
						class="item">
					Přihlásit
				</a>
			</div>
		</div>
	</header>

	<div class="content content-wrap" n:snippet="content">
		{ifset submenu}
			<nav class="submenu">
				{include submenu}
			</nav>
		{/ifset}
        {include content}
	</div>

	<footer>
		<div class="content-wrap">
			<div class="copy">
				© {time()|date: Y} Univerzita Palackého v Olomouci
			</div>
			<div class="author">
				Technické řešení - <a href="http://aloushweb.cz/" target="_blank">Aleš Dopita</a>
			</div>
		</div>
	</footer>

	<div class="flashes">
		{snippet flashes}
			<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">
				<i class="icon-notification flash-icon"></i>
				<p>{$flash->message}</p>
				<i class="icon-cross flash-close"></i>
				<div class="timer"></div>
			</div>
		{/snippet}
	</div>

	{block scripts}
		<script src="{$basePath}/assets/scripts/jquery-3.1.1.min.js"></script>
		<script src="{$basePath}/assets/scripts/jquery-ui.min.js"></script>
		<script src="{$basePath}/assets/scripts/nette.ajax.min.js"></script>
		<script src="{$basePath}/assets/scripts/history.ajax.min.js"></script>
		<script src="{$basePath}/assets/scripts/live-form-validation.min.js"></script>
		<script src="{$basePath}/assets/scripts/Chart.min.js"></script>
		{*<script src="{$basePath}/assets/scripts/main.min.js?ver=0.1"></script>*}
		<script src="{$basePath}/assets/scripts/main.js?ver=0.1"></script>
	{/block}
</body>
</html>
