@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin-ext');

html, body{
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    font-family: 'PT Sans', sans-serif;
    color: #333333;
    min-width: 580px;
    font-size: 15px;
}

.desktop-hide {
    display: none;
}

a {
    color: #006fad;
}

a:hover {
    color: #00568c;
    text-decoration: none;
}

a i {
    font-size: 0.85em;
    padding-right: 2px;
}

header{
    width: 100%;
    margin: 0;
    background: #006FAD;
    color: #ffffff;
    font-size: 16px;
    z-index: 13;
    min-width: 500px;
    border-bottom: 5px solid #00568C;
    height: 145px;
}

header .topLine {
    height: 28px;
    font-size: 16px;
    background: #5D5E60;
}

header .topLine a{
    display: inline-block;
    padding: 3px 10px;
    height: 28px;
    color: #ffffff;
    vertical-align: top;
}

header .topLine a:hover {
    background: #00568C;
}

header .topLine .right-content {
    float: right;
}

header .topLine .divider {
    display: inline-block;
    width: 1px;
    height: 28px;
    background: #ffffff;
    vertical-align: top;
}

header .logo {
    display: block;
    height: 112px;
    width: 300px;
    float: left;
    background: url("../images/UP_logo_FZV_horizont_bila_cz.png") center;
    background-size: cover;
}

header .logo:hover {
    text-decoration: none;
    background-color: #00568c;
}

header .logo img {
    height: 100%;
}

header .user-name {
    display: inline-block;
    vertical-align: top;
    padding: 30px 0 0;
}

header .menu {
    float: right;
    display: inline-block;
    top: 0;
    text-align: center;
    height: 112px;
}

header .menu .item {
    display: inline-block;
    padding: 42px 12px 0 12px;
    height: 112px;
    font-size: 1.2em;
    cursor: pointer;
    color: #ffffff;
    border-bottom: 15px solid transparent;
}
header .menu .item i {
    opacity: 0.6;
}

header .menu .item:hover {
    background: #00568c;
}

header .menu .item.active {
    border-bottom: 15px solid #00568c;
}

.submenu {
    border-bottom: 1px solid #f0f0f0;
}

.submenu>a{
    display: inline-block;
    vertical-align: top;
    padding: 0 13px 8px 13px;
    font-size: 16px;
    border-bottom: 10px solid transparent;
}
.submenu>a.active {
    border-bottom: 10px solid #f0f0f0;
}
.submenu>a:hover{
    color: #0f0f0f;
}

.content{
    margin: 0;
    padding: 20px 15px;
    background: #ffffff;
}

.content-wrap {
    position: relative;
    margin: 0 auto;
    width: 1170px;
}

.content a.btn-visual, .content a.btn-danger{
    color: #ffffff;
}


.content a.btn-visual:hover, .content a.btn-danger:hover{
    color: #ffffff;
}

.content a.btn-default{
    color: #404040;
    background: #ffffff;
}

.scrltp {
    position: fixed;
    display: none;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    z-index: 100;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #dddddd;
    background: #ffffff;
    box-shadow: 0 0 10px 5px #dddddd;
}

.scrltp i{
    font-size: 26px;
    color: #006FAD;
}

/* helpers */
h2 {
    padding: 10px 15px;
    border-left: 4px solid #006FAD;
    background: #f5f5f5;
    margin: 20px 0;
}
h2 i {
    color: #aaaaaa;
}
:focus {
    outline: none;
}

.error {
    color: #a94442;
}

.success {
    color: #006FAD;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.limited-history {
    max-width: 165px;
}

/* Flashes */
.flashes{
    position: absolute;
    top: 30px;
    width: 300px;
    right: calc(50% - 640px);
}
.flashes .flash{
    background: #ffffff;
    padding: 6px 15px;
    min-height: 35px;
    box-shadow: 0 0 4px #333;
    border-radius: 3px;
}
.flashes .flash .flash-icon {
    position: absolute;
    top: 8px;
    left: 12px;
    font-size: 24px;
    color: #666666;
}

.flashes .flash p {
    margin: 4px 28px 4px 32px;
    color: #0f0f0f;
}

.flashes .flash .flash-close {
    position: absolute;
    top: 13px;
    right: 12px;
    color: #666666;
}

.flashes .flash .flash-close:hover {
    cursor: pointer;
    color: #006FAD;
}

.btn-visual{
    background: #006FAD;
    color: #ffffff !important;
    border: none;
    min-width: 85px;
    max-width: 160px;
}

.btn-visual:hover{
    color: #ffffff;
    box-shadow: 0 0 4px #00568C;
}

.btn-visual:active{
    color: #ffffff;
    outline: none;
    box-shadow: inset 0 2px 6px #00568C;
}

.info-box{
    text-align: center;
    background: #f1f1f1;
    padding: 15px 0;
}

.info-box p{
    margin: 0;
}

.info-box i{
    color: #006FAD;
    padding-right: 8px;
}

.info-box.light {
    background: none;
}

.spacer {
    height: 20px;
    visibility: hidden;
}

.graph-wrap {
    position: relative;
    max-width: 350px;
    margin: 0 auto 20px;
}

/* Edit content */

textarea#editor {
    width: 100%;
    height: 100px;
}
.content-text-wrap {
    position: relative;
}
.content-text-wrap .content-text-options a {
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    min-height: 32px;
}
.content-text-wrap .content-text-options a i {
    position: absolute;
    left: calc(50% - 16px);
    top: calc(50% - 16px);
    display: none;
    color: #ffffff;
    font-size: 32px;
}
.content-text-wrap .content-text-options a:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.25);
}
.content-text-wrap .content-text-options a:hover i {
    display: block;
}
.content-text-wrap .empty-text {
    color: #aaaaaa;
    padding: 5px 0;
}

/* Header search */

.header-search {
    float: right;
    font-size: 16px;
}
.header-search input {
    display: inline-block;
}
.header-search .filter {
    width: 180px;
    border: 2px solid #dddddd;
}

/* Dialogs */

.dialog-wrap{
    position: absolute;
    padding: 15px 15px;
    width: 282px;
    background: #eeeeee;
    border: 1px solid #dddddd;
    border-radius: 3px;
    box-shadow: 0 0 5px -1px #000000;
}

.dialog-wrap i{
    color: #006FAD;
    display: inline-block;
    width: 25px;
    font-size: 16px;
    vertical-align: top;
}

.dialog-wrap p{
    display: inline-block;
    vertical-align: top;
    width: 225px;
    padding: 0 5px;
    margin: 0 0 15px 0;
}

.dialog-wrap .btn{
    float: right;
    min-width: 80px;
    margin: 0 5px;
}

/* Paginator */
.paginator{
    margin-top: -4px;
    text-align: center;
    color: #2f2f2f;
}

.paginator.disabled{
    opacity: 0.6;
}

.paginator i{
    padding: 5px 7px;
    vertical-align: -8%;
    color: #aaaaaa;
}

.paginator a{
    text-decoration: none;
}

.paginator a i{
    color: #2f2f2f;
}

.paginator a:hover i{
    color: red;
}

.paginator .actual-page{
    color: red;
    font-size: 20px;
}

/* DEMO LOGIN */

.demo-login {
    position: absolute;
    left: 0;
    top: 50px;
    min-width: 42px;
    background: #ffffff;
    border-radius: 0 3px 3px 0;
    box-shadow: 0 0 10px #0f0f0f;
}

.demo-login .opener {
    cursor: pointer;
    padding: 8px 14px;
    text-align: right;
}

.demo-login .login {
    display: none;
    padding: 8px 15px;
}
.demo-login.open .login {
    display: block;
}

/* Form custom styles for default Nette form renderer */
form{
    position: relative;
}

form table {
    margin: 0 auto;
    width: 550px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    background: #eeeeee;
}

form table.filter{
    margin: 0;
    width: 100%;
    background: none;
    border: none;
}

form table.filter tr{
    width: 550px;
}

form table.filter tr input[type="submit"]{
    padding: 10px 55px;
}

form ul.error {
    margin: 0 auto;
    padding: 25px;
    font-size: 1.25em;
    width: 550px;
    border: 1px solid #dddddd;
    border-bottom: 0;
    background: #eeeeee;
    list-style: none;
}

form ul.error li{
    color: #c5847a;
}

form ul.error li:before{
    font-family: 'IcoMoonUltimate' !important;
    content: "\ed51";
    padding-right: 1em;
}

form table tr{
    position: relative;
    display: block;
    padding-top: 2.5em;
    text-align: center;
}
form table tr:first-child{
    margin-top: 1em;
}
form table tr:last-child{
    padding-bottom: 1.5em;
}
form table th {
    top: 2.9em;
    color: #666666;
    position: absolute;
    display: block;
    width: 100%;
    z-index: 10;
    padding: 8px 25px 4px 25px;
    cursor: text;
}

form table th label{
    padding-left: 1em;
    font-size: 1.2em;
    font-weight: normal;
    cursor: text;
}
form table td {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    z-index: 5;
    padding: 4px 25px 8px 25px;
}

form table td input {
    border: 1px solid #dfdfdf;
    width: 100%;
    background: #ffffff;
    color: #333333;
    border-radius: 3px;
    font-size: 1.2em;
    padding: 8px 15px;
    box-shadow: inset 1px 1px 3px -1px #cccccc;
}
form table td select {
    border: 1px solid #dfdfdf;
    width: 100%;
    background: #ffffff;
    color: #333333;
    border-radius: 3px;
    font-size: 1.2em;
    padding: 8px 15px;
    box-shadow: inset 1px 1px 3px -1px #cccccc;
}


form table td textarea {
    border: 1px solid #dfdfdf;
    width: 100%;
    resize: none;
    background: #ffffff;
    color: #333333;
    border-radius: 3px;
    font-size: 1.2em;
    padding: 8px 15px;
    box-shadow: inset 1px 1px 3px -1px #cccccc;
}
form table td label{
    font-weight: normal;
    color: #333333;
}

form table td input[type=file]{
    padding-top: 2.5em;
}

form table td input[type=checkbox]{
    display: inline-block;
    width: auto;
    margin-right: 1.3em;
}

form table td .input-icon{
    position: absolute;
    bottom: 9px;
    left: 26px;
    width: 3em;
    height: 2.8em;
    background: rgba(200,200,200,0.4);
    border-radius: 3px 0 0 3px;
    border-right: 1px solid #dfdfdf;
    text-align: center;
    padding-top: 0.65em;
    font-size: 1.0em;
    color: #666666;
}

form table td input.has-error {
    border: 1px solid #a94442;
    background: #fff5f5;
}

form table td .help-block {
    position: absolute;
    width: 300px;
    left: 103%;
    color: #a94442;
    top: 11px;
    text-align: left;
}

form .genre{
    display: block;
}
form .genre:first-of-type{
    padding-top: 10px;
}

/** Specification design */

.spec-wrap {
    margin: 7px 0;
}

.spec-wrap .category.ui-sortable-helper {
    background: #eeeeee;
    box-shadow: 0 0 10px -5px #0f0f0f;
    opacity: 0.7;
    height: 70px !important;
}
.spec-wrap .category.ui-sortable-helper .detail,
.spec-wrap .category.ui-sortable-helper .add-detail{
    display: none;
}

.spec-wrap .category-placeholder {
    display: block;
    border: 2px dashed #dddddd;
    height: 70px;
    margin: 10px 0;
}

.spec-wrap .category-handler {
    cursor: move;
}

.spec-wrap a i {
    padding-right: 0;
}

.spec-wrap .edit-buttons {
    text-align: center;
}
.spec-wrap .edit-buttons>* {
    margin: 0 5px;
    text-align: center;
}

.spec-wrap .name {
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    background: #f5f5f5;
    border-bottom: 1px solid #dddddd;
}

.spec-wrap .numbering {
    text-align: right;
    padding: 0 10px;
    border-right: 1px solid #dddddd;
}
.spec-wrap .detail {
    font-size: 16px;
    padding: 10px 0;
    font-weight: normal;
    vertical-align: middle;
    border-bottom: 1px solid #dddddd;
}
.spec-wrap .header {
    font-size: 16px;
    padding: 10px 0;
    font-weight: bold;
}

.spec-wrap .add-detail {
    font-size: 16px;
    padding: 10px 0 20px;
    font-weight: normal;
}

.spec-wrap .add-detail input {
    width: 100%;
}
.spec-wrap .add-detail input[type=radio] {
    width: auto;
    margin-right: 4px;
}

/* Footer */
footer{
    position: absolute;
    bottom: 0;
    font-size: 16px;
    height: 40px;
    width: 100%;
    margin-top: 25px;
    padding: 7px 0 0;
    color: #ffffff;
    background: #5D5E60;
}

footer a {
    color: #d4d4d4;
}
footer a:hover {
    color: #c0c0c0;
}

footer .copy {
    float: left;
}

footer .author {
    float: right;
}

@media screen and (max-width: 1200px) {
    .content-wrap {
        width: 992px;
    }

    .desktop-hide {
        display: none;
    }

    .task-list.fixed {
        width: 225px;
    }
}

@media screen and (max-width: 992px) {
    .desktop-hide{
        display: block;
    }

    .content-wrap {
        width: 90%;
    }

    .phone-hide{
        display: none;
    }

    .task-list.fixed {
        position: relative;
        width: 100%;
    }
}
@media screen and (max-width: 769px) {
    header {
        height: auto;
    }
    header .right-content a {
        display: none;
    }
    header .right-content a.logout {
        display: inline-block;
    }
    header .menu, header .logo {
        float: none;
        display: block;
    }
    header .menu {
        height: auto;
    }
    header .menu .item {
        height: auto;
        padding: 10px 0;
        width: 100%;
        border-bottom: none;
    }
    header .menu .item.active {
        background: #00568c;
        border-bottom: none;
    }
    footer {
        height: auto;
        padding-bottom: 8px;
    }
    footer .copy, footer .author {
        float: none;
        display: block;
    }
}