{block content}
<h2>Logbook - DEMO</h2>
<p>
    Demo aplikace Logbook využívající demo STAGu: <a href="https://stag-demo.zcu.cz/portal" target="_blank">https://stag-demo.zcu.cz/</a>.<br></br><br>
    Testování je přizpůsobenu na níže uvedené uživatelské účty. Výběr předmětů, vyučujících a studentů na základě stejné katedry: <i>KOS, KAZ, KFE</i>).<br>
    Použité účty pro přihlášení (použité heslo: <i>demo</i>):
</p>
<table class="table table-striped">
    <tr>
        <th>
            Uživatelské jméno
        </th>
        <th>
            Role
        </th>
        <th>
            Poznámka
        </th>
    </tr>
    <tr>
        <td>
            aliova
        </td>
        <td>
            Administrator
        </td>
        <td>
            Vytváření/editace Logbook definic, přiřazení Logbooků ke studentům, správa API klíčů
        </td>
    </tr>
    <tr>
        <td>
            jarnovak
        </td>
        <td>
            Vyučující
        </td>
        <td>
            katedry KOS, předměty KOS/GITK..
        </td>
    </tr>
    <tr>
        <td>
            cervenyg
        </td>
        <td>
            Vyučující
        </td>
        <td>
            katedry KFE, předměty KFE/PAZP
        </td>
    </tr>
    <tr>
        <td>
            vareka
        </td>
        <td>
            Vyučující
        </td>
        <td>
            bez možnosti schvalovat dovednosti (žádné související předměty)
        </td>
    </tr>
    <tr>
        <td>
            Z17B5873K
        </td>
        <td>
            Student
        </td>
        <td>
            Jitka ANDĚLOVÁ; přiřazený Logbook; katedry KOS,KAZ,KFE..
        </td>
    </tr>
    <tr>
        <td>
            Z17B5848K
        </td>
        <td>
            Student
        </td>
        <td>
            Lucie BEZDĚKOVÁ; přiřazený Logbook; katedry KOS,KAZ,KFE..
        </td>
    </tr>
    <tr>
        <td>
            Z14B5875P
        </td>
        <td>
            Student
        </td>
        <td>
            Eliška ARGMANOVÁ; přiřazený Logbook; katedry KFE..
        </td>
    </tr>
    <tr>
        <td>
            Z18B5840K
        </td>
        <td>
            Student
        </td>
        <td>
            Bez Logbooku.
        </td>
    </tr>
</table>

<h2>
    Přehled API <i>(siteUrl.com/api/...)</i>
</h2>
<table class="table table-striped">
    <tr>
        <th>
            URL
        </th>
        <th>
            Params
        </th>
        <th>
            Response
        </th>
    </tr>
    <tr>
        <td>
            test
        </td>
        <td>
            <ul>
                <li>
                    <b>key</b> - secret token for external application
                </li>
            </ul>
        </td>
        <td>
            { <b>appName</b>: string }
        </td>
    </tr>
    <tr>
        <td>
            student/info
        </td>
        <td>
            <ul>
                <li>
                    <b>key</b> - secret token for external application
                </li>
                <li>
                    <b>userTicket</b> - user login ticket from STAG
                </li>
            </ul>
        </td>
        <td>
            { <b>userInfo</b>: {
            <b>logbook</b>:string,
            <b>fullName</b>:string,
            <b>skillsCount?</b>:number,
            <b>skillsDone?</b>:number
            } }
        </td>
    </tr>
    <tr>
        <td>
            student/logbook
        </td>
        <td>
            <ul>
                <li>
                    <b>key</b> - secret token for external application
                </li>
                <li>
                    <b>userTicket</b> - user login ticket from STAG
                </li>
            </ul>
        </td>
        <td>
            TODO
        </td>
    </tr>
    <tr>
        <td>
            student/history
        </td>
        <td>
            <ul>
                <li>
                    <b>key</b> - secret token for external application
                </li>
                <li>
                    <b>userTicket</b> - user login ticket from STAG
                </li>
            </ul>
        </td>
        <td>
            TODO
        </td>
    </tr>
</table>