<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<link rel="icon" type="image/png" href="{$basePath}/favicon.png">

	<title>{ifset title}{include title|stripHtml} | {/ifset}LogBook</title>

	<link rel="stylesheet" href="{$basePath}/assets/styles/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="{$basePath}/assets/styles/main.css" type="text/css">
</head>

<body>
	<header>
		<div class="topLine">
			<div class="content-wrap">
				<a href="https://www.upol.cz/">Univerzita Palackého v Olomouci</a>
				<span class="right-content">
					<a href="https://www.upol.cz/studenti/">Studenti</a>
					<a href="https://www.upol.cz/zamestnanci/">Zaměstnanci</a>
					<a href="http://absolventi.upol.cz/">Absolventi</a>
					<span class="divider"></span>
					<a href="https://www.upol.cz/kontakty/">Kontakty</a>
				</span>
			</div>
		</div>
		<div class="content-wrap">
			<a class="logo" n:href="Home:default">
				<span class="name">LogBook</span>
			</a>
		</div>
	</header>

	<div class="content content-wrap" n:snippet="content" lang="en">
        {include content}
		{if !$host}
			<hr>
			<a n:href="Home:default" class="btn btn-visual">Home</a>
		{/if}
	</div>


	<footer>
		<div class="content-wrap">
			<div class="copy">
				© {time()|date: Y} Univerzita Palackého v Olomouci
			</div>
			<div class="author">
				Technické řešení - <a href="http://aloushweb.cz/" target="_blank">Aleš Dopita</a>
			</div>
		</div>
	</footer>
</body>
</html>
