{block content}
<h2 n:block=title>Neplatný STAG ticket</h2>

<p>Platnost ticketu pro STAG vypršela, je nutné se znovu přihlásit.</p>

<p><small>error 401</small></p>
<hr>
<div class="text-center">
    <a href="https://stagservices.upol.cz/ws/login?originalURL={$host}{link Home:login}" class="btn btn-visual">
        Přihlásit
    </a>
    <a n:if="$user->isLoggedIn()" n:href="Home:logout" class="btn btn-default">
        Odhlásit
    </a>
</div>
