{extends "../@layout.latte"}
{block submenu}
    {if $teacher}
        <h2>
            Student - {$userData->fullname} <i>({$userData->osCislo})</i>
            <span class="header-search">
                <a n:href="Teacher:students" class="btn btn-visual">
                    <i class="icon-cross"></i>
                    Zpět na vyhledávání
                </a>
            </span>
        </h2>
    {/if}
    <a class="ajax {ifCurrent :default}active{/ifCurrent}" n:href="Student:default $id">Přehled</a>
    {if $hasSpecYear}
        <a class="ajax {ifCurrent :logbook}active{/ifCurrent}" n:href="Student:logbook $id">
            Prohlížení Logbooku
        </a>
        <a class="ajax {ifCurrent :history}active{/ifCurrent}" n:href="Student:history $id">
            Historie
        </a>
    {/if}
{/block}