{block content}
<div n:if="$hasSpecYear" class="row">
    <div class="col-md-6">
        <h2>Přehled</h2>
        <div class="info-box light">
            <p>
                <i class="icon-info"></i>
                Máte přidělený Logbook <b>{$specYear}</b>.
            </p>
            <div class="spacer"></div>
            <a n:href=":logbook $id" class="btn btn-visual">Prohlížení Logbooku</a>
            <hr>
            <div class="graph-wrap">
                <canvas id="myChart" data-done="{$done}" data-remains="{$specCount-$done}"></canvas>
            </div>
            <div class="stat">
                Splněno <b>{floor($done/$specCount*100)}% </b> ({$done}/{$specCount}) dovedností.
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Historie</h2>
        {if $historyCount}
            <table class="table table-striped">
                <tr>
                    <th>Úkon</th>
                    <th>Předmět</th>
                    <th>Vyučijící</th>
                    <th>Datum</th>
                    <th class="text-center">Stav</th>
                </tr>
                {foreach $history as $h}
                    <tr>
                        <td class="ellipsis limited-history">{$h->ref("specification", "spec_id")->skill}</td>
                        <td>{$h->ref("specification", "spec_id")->subject_stag}</td>
                        <td class="ellipsis">{$h->ref("users", "prof_id")->fullname ? $h->ref("users", "prof_id")->fullname : $h->ref("users", "prof_id")->stagName}</td>
                        <td>{$h->date|date: "d.m.y H:i"}</td>
                        <td class="text-center">
                            {if $h->deleted}
                                <i class="icon-cross error" title="Zrušeno"></i>
                            {else}
                                <i class="icon-checkmark success" title="Splněno"></i>
                            {/if}
                        </td>
                    </tr>
                {/foreach}
            </table>
            {if $historyCount > 5}
                <div class="text-center">
                    <a n:href="Student:history" class="btn btn-visual">
                        Zobrazit celou historii
                    </a>
                </div>
            {/if}
        {else}
            <div class="info-box">
                <p>
                    <i class="icon-info"></i>
                    Žádné záznamy.
                </p>
            </div>
        {/if}
    </div>
</div>
<div n:if="!$hasSpecYear">
    <div class="info-box">
        <i class="icon-warning"></i>
        Nemáte přiřazený žádný Logbook.
        <hr>
        V případě nesrovnalostí můžete kontaktovat administrátora, kterého naleznete na stránce <a class="btn btn-visual" n:href="Home:about">O projektu</a>.
    </div>
</div>
