{block content}
    <h2>
        Logbook - {$specYear}
        <span class="header-search hide">
            <a n:href=":pdfLogbook" class="btn btn-visual">
                <i class="icon-file-pdf"></i>
                Zobrazit PDF
            </a>
        </span>
    </h2>
{var $categoryCounter = 1}
<div class="spec-wrap">
    <div class="header row">
        <div class="col-md-1 numbering">
            Číslo<br>
            Code
        </div>
        <div class="col-md-3">
            Dovednost<br>
            Skill
        </div>
        <div class="col-md-1">
            Forma<br>
            Form
        </div>
        <div class="col-md-3">
            Předmět<br>
            Subject
        </div>
        <div class="col-md-2">
            Datum<br>
            Date
        </div>
        <div class="col-md-2">
            Jméno<br>
            Name
        </div>
    </div>
    {foreach $categories as $c}
        {var $specCounter = 1}
        <div class="category">
            <div class="name">
                <div class="row">
                    <div class="col-md-1 numbering">
                        {if $c->active}
                            {$categoryCounter++}
                        {else}
                            #
                        {/if}
                    </div>
                    <div class="col-md-11">
                        {$c->name}<br>
                        {$c->name_en}
                    </div>
                </div>
            </div>
            <div n:foreach="$specs[$c->id] as $s" class="detail">
                <div class="row">
                    <div class="col-md-1 numbering">
                        {if $c->active}
                            {$categoryCounter - 1}
                        {else}
                            #
                        {/if}
                        .
                        {if $s->active}
                            {$specCounter++}
                        {else}
                            #
                        {/if}
                    </div>
                    <div class="col-md-3">
                        {$s->skill}<br>
                        {$s->skill_en}
                    </div>
                    <div class="col-md-1">
                        {$s->form}
                    </div>
                    <div class="col-md-3" title="{$s->subject_stag}">
                        {$s->subject}<br>
                        {$s->subject_en}
                    </div>
                    <div class="col-md-2">
                        {ifset $records[$s->id]}
                            {$records[$s->id]->date|date: "d.m.y H:i"}
                        {/ifset}
                    </div>
                    <div class="col-md-2">
                        {ifset $records[$s->id]}
                            {$records[$s->id]->ref("users", "prof_id")->fullname}
                        {elseif $teacher && array_intersect(explode(",", $s->subject_stag), $subjects)}
                            <a class="btn-sm btn-visual dialog"
                               data-dialog-q="Přejete si schválit dovednost danému studentovi?"
                                    n:href="Teacher:addSkill $s->id, $id, 0">
                                Schválit
                            </a>
                        {/ifset}
                    </div>
                </div>
            </div>
        </div>
    {/foreach}
</div>