{extends "../@layout.latte"}
{block submenu}
    <a class="ajax {ifCurrent :default}active{/ifCurrent}" n:href=":default">
        Přehled
    </a>
    <a class="ajax {ifCurrent :skillList}active{/ifCurrent}" n:if=$specificationCount n:href=":skillList">
        Dovednosti
    </a>
    <a class="ajax {ifCurrent :students}active{/ifCurrent}" n:href=":students">
        Studenti
    </a>
    <a class="ajax {ifCurrent :history}active{/ifCurrent}" n:href=":history">
        Historie
    </a>
{/block}