{block content}
<div class="row">
    <div class="col-md-6">
        <h2>Přehled</h2>
        <div class="info-box light" n:if=$specificationCount>
            <i class="icon-info"></i>
            Můžete schvalovat <b>{$specificationCount}</b> různých dovedností.
            <hr>
            <a n:href=":skillList" class="btn btn-visual">
                Dovednosti
            </a>
        </div>
        <p n:if=!$specificationCount>
            Aktuálně nemůžete schvalovat žádné dovednosti.
        </p>

    </div>
    <div class="col-md-6">
        <h2>Historie</h2>
        {if $historyCount}
            <table class="table table-striped">
                <tr>
                    <th>Úkon</th>
                    <th>Předmět</th>
                    <th>Student</th>
                    <th>Datum</th>
                    <th class="text-center">Stav</th>
                </tr>
                {foreach $history as $h}
                    <tr>
                        <td class="ellipsis limited-history">{$h->ref("specification", "spec_id")->skill}</td>
                        <td>{$h->ref("specification", "spec_id")->subject_stag}</td>
                        <td class="ellipsis">{$h->ref("users", "stud_id")->fullname ? $h->ref("users", "stud_id")->fullname : $h->ref("users", "stud_id")->stagName}</td>
                        <td>{$h->date|date: "d.m.y H:i"}</td>
                        <td class="text-center">
                            {if $h->deleted}
                                <i class="icon-cross error" title="Zrušeno"></i>
                            {else}
                                <i class="icon-checkmark success" title="Splněno"></i>
                            {/if}
                        </td>
                    </tr>
                {/foreach}
            </table>
            {if $historyCount > 5}
                <div class="text-center">
                    <a n:href="Teacher:history" class="btn btn-visual">
                        Zobrazit celou historii
                    </a>
                </div>
            {/if}
        {else}
            <div class="info-box">
                <p>
                    <i class="icon-info"></i>
                    Žádné záznamy.
                </p>
            </div>
        {/if}
    </div>

</div>
