{block content}
<h2>Historie</h2>
{if $historyCount}
    <table class="table table-striped">
        <tr>
            <th>Úkon</th>
            <th>Předmět</th>
            <th>Student</th>
            <th>Datum</th>
            <th class="text-center">Stav</th>
        </tr>
        {foreach $history as $h}
            <tr>
                <td>{$h->ref("specification", "spec_id")->skill}</td>
                <td>{$h->ref("specification", "spec_id")->subject_stag}</td>
                <td>{$h->ref("users", "stud_id")->fullname ? $h->ref("users", "stud_id")->fullname : $h->ref("users", "stud_id")->stagName}</td>
                <td>{$h->date|date: "d.m.y H:i"}</td>
                <td class="text-center">
                    {if $h->deleted}
                        <i class="icon-cross error" title="Zrušeno"></i>
                    {else}
                        <i class="icon-checkmark success" title="Splněno"></i>
                        <a class="btn-sm btn-danger dialog"
                           data-dialog-q="Přejete si zrušit dovednost u daného studenta? Tuto akci nelze vrátit zpět."
                           n:href="removeSkill $h->id">
                            Zrušit
                        </a>
                    {/if}
                </td>
            </tr>
        {/foreach}
    </table>
{else}
    <div class="info-box">
        <p>
            <i class="icon-info"></i>
            Žádné záznamy.
        </p>
    </div>
{/if}
