{block content}
<h2>Dovednost: {$selectedSkill->skill} <i>({$selectedSkill->subject})</i></h2>
    {dump $studentsData}
{if $students && $students['studentPredmetu']}
    <table class="table table-striped">
        <tr>
            <th>
                PŘÍJMENÍ, Jméno
            </th>
            <th>
                osCislo
            </th>
            <th>
                Přiřazený Logbook
            </th>
            <th class="text-center">
                Dovednost
            </th>
        </tr>
        <tr n:foreach="$students['studentPredmetu'] as $student">
            <td>
                {$student['prijmeni']}, {$student['jmeno']}
            </td>
            <td>
                {$student['osCislo']}
            </td>
            <td>
                {ifset $studentsData[$student['osCislo']]}
                    {$studentsData[$student['osCislo']]["specYear"]}
                {/ifset}
            </td>
            <td class="text-center">
                {if isset($studentsData[$student['osCislo']]) && boolval($studentsData[$student['osCislo']]['specYear'])}
                    {if isset($redordsData[$studentsIds[$student['osCislo']]]) && !$redordsData[$studentsIds[$student['osCislo']]]->deleted}
                        <i class="icon-checkmark success" title="Splněno"></i>
                        <a n:if="$redordsData[$studentsIds[$student['osCislo']]]->prof_id === $user->getId()"
                                class="btn-sm btn-danger dialog"
                                data-dialog-q="Přejete si zrušit dovednost u daného studenta? Tuto akci nelze vrátit zpět."
                                n:href="removeSkill $redordsData[$studentsIds[$student['osCislo']]]->id, $selectedSkill->id">
                            Zrušit
                        </a>
                    {else}
                        <a class="btn-sm btn-visual dialog"
                           data-dialog-q="Přejete si schválit dovednost danému studentovi?"
                           n:href="addSkill $selectedSkill->id, $studentsIds[$student['osCislo']], 1">
                           Schválit
                        </a>
                    {/if}
                {/if}
            </td>
        </tr>
    </table>
{else}
    <div class="info-box">
        <i class="icon-info"></i>
        Pro schválení dovednosti nebyli nalezeni žádní studenti. <br>
        <i>Na této stránce jsou dostupní pouze studenti aktuálního semestru.</i>
        <hr>
        Můžete vyhledat studenta a schválit dovednost přímo ve studentském Logbooku. <a class="btn btn-visual" n:href=":students">Studenti</a>
    </div>
{/if}