{block content}
<div class="row">
    <div class="col-md-12">
        <h2>
            Dovednosti
            <span class="header-search">
                {form skillSearch}
                    <label><input class="filter input-sm" type="text" n:name="skill"></label>
                    <input class="btn btn-visual" type="submit" n:name="submit">
                {/form}
            </span>
        </h2>

        {php $lastSubject = null}
        <div class="spec-wrap" n:if=count($availableSkills)>
            <div class="header row">
                <div class="col-md-3">
                    Název dovednosti
                </div>
                <div class="col-md-3">
                    Logbook
                </div>
                <div class="col-md-3">
                    Kategorie
                </div>
                <div class="col-md-3">
                    Akce
                </div>
            </div>
            {foreach $availableSkills as $skill}
                {if $skill->subject_stag !== $lastSubject}
                    {php $lastSubject = $skill->subject_stag}
                    <div class="name">
                        {$skill->subject}
                    </div>
                {/if}
                <div class="detail row">
                    <div class="col-md-3">
                        {$skill->skill}
                    </div>
                    <div class="col-md-3">
                        {$skill->ref('category', 'category_id')->year}
                    </div>
                    <div class="col-md-3">
                        {$skill->ref('category', 'category_id')->name}
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-xs btn-visual" n:href=":skill $skill->id">Detail</a>
                    </div>
                </div>
            {/foreach}
        </div>
        <div class="info-box" n:if=!count($availableSkills)>
            <i class="icon-info"></i>
            Nebyly nalezeny žádné dovednost.
        </div>
    </div>
</div>