{block content}
<div class="row">
    <div class="col-md-12">
        <h2>
            Studenti
            <span class="header-search">
                {form studentSearch}
                    <label><input class="filter input-sm" type="text" n:name="student"></label>
                    <input class="btn btn-visual" type="submit" n:name="submit">
                {/form}
            </span>
        </h2>

        <table n:if=$students class="table table-striped">
            <tr>
                <th>Jméno PŘÍJMENÍ</th>
                <th>Číslo studenta</th>
                <th>Logbook</th>
                <th class="text-center">Akce</th>
            </tr>
            <tr n:foreach="$students as $student">
                <td>{$student->fullname}</td>
                <td>{$student->osCislo}</td>
                <td>{$student->specYear}</td>
                <td class="text-center">
                    <a n:href="Student:default $student->id" class="btn btn-visual btn-xs">Zobrazit</a>
                </td>
            </tr>
        </table>

        <div class="info-box" n:if="!$students && !$filtr">
            <i class="icon-info"></i>
            Pro fulltextové vyhledání studentů použijte vyhledávací panel.
        </div>
        <div class="info-box" n:if="!$students && $filtr">
            <i class="icon-info"></i>
            Nebyli nalezeni žádní studenti.
        </div>
    </div>
</div>