<div class="content-text-wrap">
    {if $text && $text->text != ""}
        {$text->text|breaklines}
    {elseif $user->isInRole("AD")}
        <div class="empty-text">
            ..vložte text..
        </div>
    {/if}
    <div class="content-text-options" n:if="$user->isInRole('AD')">
        <a href="{plink Admin:editContent $id, $withEditor}">
            <i class="icon-pencil2"></i>
        </a>
    </div>
</div>